[submodule "npm-mode"]
	path = lisp/npm-mode
	url = https://github.com/rfcoder89/npm-mode.git
[submodule "webmarks"]
	path = lisp/webmarks
	url = https://github.com/rfcoder89/webmarks.git
[submodule "createany"]
	path = lisp/createany
	url = https://github.com/rfcoder89/createany.git
[submodule "coverlay"]
	path = lisp/coverlay
	url = https://github.com/rfcoder89/coverlay.el.git
